*{
    margin: 0;
    padding: 0;
}
.fl {
    float: left;
}
.clear:after{
    content: '';
    display: block;
    clear: both;
}
.content{
    margin-top: 20px;
}
.i_bg{
    width:100%; 
    min-width:1200px; 
    overflow:hidden;
    margin-left: 120px;
}
.postion {
    width: 1200px;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    margin-top: 10px;
}
.postion i{
    color: red;
    font-weight: normal;
}


#tsShopContainer {
    width: 392px;
    height: 495px;
    float: left;
    position: relative;
}

#tsShopContainer #tsImgS {
    text-align: center;
    width: 100%;
    position: relative;
    border: 1px solid #eaeaea;
}

#tsShopContainer #tsImgS a {
    display: block;
    text-align: center;
    margin: 0 auto;
}

#tsShopContainer #tsImgS img {
    border: 0;
    width: 390px;
    height: 390px;
}

#tsShopContainer #tsPicContainer {
    width: 100%;
    height: 90px;
    position: relative;
    margin-top: 10px;
}

#tsShopContainer #tsPicContainer #tsImgSArrL {
    width: 15px;
    height: 100%;
    background: url(../img/r_left.png) no-repeat left center;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

#tsShopContainer #tsPicContainer #tsImgSArrR {
    width: 15px;
    height: 100%;
    background: url(../img/r_right.png) no-repeat right center;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

#tsShopContainer #tsPicContainer #tsImgSCon {
    position: absolute;
    top: 0;
    left: 18px;
    height: 90px;
    overflow: hidden;
}

 #tsImgSCon ul {
    width: 100%;
    overflow: hidden;
}

 #tsImgSCon li {
    width: 90px;
    float: left;
    cursor: pointer;
}

 #tsImgSCon li img {
    padding: 2px;
    margin: 1px;
    border: 1px solid #eaeaea;
    display: block;
    width: 79px;
    height: 79px;
}

 #tsImgSCon li.tsSelectImg img {
    border: 3px solid #ff4e00;
    padding: 1px;
    margin: 0;
}
/***************详情***************/
.pro_des {
    width: 520px;
    height: 490px;
    overflow: hidden;
    float: left;
    display: inline;
    margin-left: 40px;
}

.des_name {
    height: 50px;
    line-height: 25px;
    overflow: hidden;
    color: #888888;
    font-size: 14px;
}

.des_name p {
    color: #3e3e3e;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.des_price {
    height: 64px;
    line-height: 32px;
    overflow: hidden;
    margin-top: 25px;
    margin-bottom: 20px;
}

.des_price b {
    color: #ff3c3c;
    font-size: 18px;
}

.des_price span {
    font-size: 14px;
}

.des_choice {
    line-height: 40px;
    overflow: hidden;
    color: #888888;
}

.des_choice ul li {
    height: 28px;
    line-height: 28px;
    overflow: hidden;
    font-size: 14px;
    text-align: center;
    float: left;
    display: inline;
    margin-right: 10px;
    margin-top: 4px;
    margin-bottom: 2px;
    padding: 0 15px;
    border: 1px solid #cccccc;
    cursor: pointer;
    position: relative;
}

.des_choice ul li:hover {
    height: 26px;
    line-height: 26px;
    padding: 0 14px;
    overflow: hidden;
    border: 2px solid #ff3c3c;
}

.des_choice ul li .ch_img {
    width: 18px;
    height: 18px;
    overflow: hidden;
    background: url(../img/ch.png) no-repeat center top;
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;
}

.des_choice ul li.checked {
    height: 26px;
    line-height: 26px;
    padding: 0 14px;
    overflow: hidden;
    border: 2px solid #ff3c3c;
}

.des_choice ul li.checked .ch_img {
    display: block;
}

.des_share {
    height: 60px;
    overflow: hidden;
    margin-top: 25px;
}
.des_share .d_sh {
    width: 68px;
    height: 27px;
    line-height: 27px;
    background: url(../img/sh.png) no-repeat 12px 5px;
    text-indent: 32px;
    float: left;
    border: 1px solid #FFF;
    cursor: pointer;
    position: relative;
}

.des_share .d_sh .d_sh_bg {
    width: 176px;
    height: 28px;
    overflow: hidden;
    border: 1px solid #eaeaea;
    position: absolute;
    left: 0;
    top: 27px;
    display: none;
}

.des_share .d_sh .d_sh_bg a {
    overflow: hidden;
    text-indent: 0;
    float: left;
    margin-left: 10px;
    margin-top: 6px;
}

.des_share .d_sh:hover {
    border: 1px solid #eaeaea;
}

.des_share .d_sh:hover .d_sh_bg {
    display: block;
}

.des_share .d_care {
    height: 27px;
    line-height: 27px;
    overflow: hidden;
    background: url(../img/care.png) no-repeat left center;
    float: left;
    display: inline;
    margin-left: 50px;
    padding-left: 22px;
}

.des_join {
    height: 45px;
    overflow: hidden;
    margin-top: 20px;
}

.j_nums {
    width: 78px;
    height: 23px;
    overflow: hidden;
    float: left;
    display: inline;
    margin-right: 10px;
    border: 1px solid #cccccc;
}
/*******************介绍*********************/
.des_border {
    overflow: hidden;
    
    margin-bottom: 10px;
    border: 1px solid #eaeaea;
    float: left;
    margin-left: 20px;
    
}

#des_xiang{
	
	height: 60px;
	float: left;
	margin-right: 480px;
}

.des_tit {
    height: 150px;
    background-color: #f6f6f6;
    border-bottom: 1px solid #eaeaea;
    position: relative;
    margin-top: 40px;
    float: left;
    
    
}

.des_tit ul {
    width: 100%;
    height: 29px;
    position: absolute;
    left: 0;
    top: 0;
}

.des_tit ul li {
    width: 110px;
    height: 29px;
    line-height: 27px;
    overflow: hidden;
    font-size: 14px;
    text-align: center;
    float: left;
}

.des_tit ul li.current {
    width: 109px;
    height: 27px;
    overflow: hidden;
    background-color: #FFF;
    border-right: 1px solid #FFF;
    border-top: 2px solid #ff4e00;
}

.des_t {
    height: 38px;
    line-height: 38px;
    overflow: hidden;
    background-color: #f6f6f6;
    color: #ff4e00;
    font-size: 14px;
    text-indent: 25px;
    border-bottom: 1px solid #eaeaea;
    border-top: 2px solid #ff4e00;
}

.team_list {
    width: 160px;
    height: 195px;
    overflow: hidden;
    float: left;
    display: inline;
    margin: 25px 30px;
}

.team_list .img {
    width: 160px;
    height: 140px;
    overflow: hidden;
}

.team_list .name {
    width: 160px;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
}

.team_list .price {
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    color: #999999;
    text-align: center;
    text-transform: uppercase;
    position: relative;
}

.team_list .price font {
    color: #ff4e00;
    font-size: 14px;
}

.team_list .price span {
    font-size: 16px;
}

.team_list .price .checkbox {
    width: 25px;
    height: 20px;
    overflow: hidden;
    text-align: left;
    position: absolute;
    left: 0;
    top: 4px;
}

.team_icon {
    width: 25px;
    height: 25px;
    overflow: hidden;
    float: left;
    display: inline;
    margin: 90px 0;
}

.team_sum {
    width: 145px;
    height: 125px;
    overflow: hidden;
    color: #ff4e00;
    float: left;
    display: inline;
    margin-left: 20px;
    margin-top: 50px;
}

.team_sum span {
    font-size: 18px;
}

.sum_ipt {
    width: 58px;
    height: 23px;
    line-height: 23px;
    background: none;
    color: #555555;
    font-size: 16px;
    text-align: center;
    padding: 0;
    margin: 5px auto 10px auto;
    border: 1px solid #eaeaea;
}

.des_con {
    overflow: hidden;
    margin: 25px;
}
.des_su{
	font-size: 12px;
}

table.jud_tab {
    height: 128px;
    overflow: hidden;
    margin: 25px 20px 0 20px;
    border-collapse: collapse;
    border: 1px solid #eaeaea;
}

.jud_per {
    color: #ff4e00;
    font-size: 14px;
    text-align: center;
}

.jud_per p {
    margin: 0;
    padding: 0;
    font-size: 34px;
    line-height: 36px;
}

.jud_bg {
    background: url(../img/s_line.gif) no-repeat left center;
    padding: 0 30px;
    line-height: 22px;
}

table.jud_list tr td {
    border-collapse: collapse;
    border-bottom: 1px solid #eaeaea;
    padding: 20px;
    line-height: 22px;
}
.pages {
    overflow: hidden;
    color: #888888;
    padding: 20px 10px;
    text-align: right;
    font-size: 16px;
    margin-top: 20px;
}
.pages span{
    height: 36px;
    line-height: 36px;
    display: inline-block;
    overflow: hidden;

}

.pages a {
    height: 36px;
    line-height: 36px;
    overflow: hidden;
    color: #666666;
    font-size: 16px;
    text-align: center;
    display: inline-block;
    padding: 0 12px;
    margin: 0 4px;
    border: 1px solid #cccccc;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.pages a:hover, .pages a.cur {
    color: #FFF;
    background-color: #ff4e00;
    border: 1px solid #ff4e00;
}

.pages a.p_pre:hover {
    background-color: #eaeaea;
    color: #555555;
    border: 1px solid #cccccc;
}

